PROJECT_NAME="Qnexus Backend"
ENV="development"
PORT=8000
MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="qnexus_db"
PINECONE_API_KEY=""
PINECONE_INDEX_NAME="qnexus-questions"
PINECONE_CLOUD="aws"
PINECONE_REGION="us-east-1"
GROQ_API_KEY=""
GROQ_MODEL="llama-3.3-70b-versatile"
EMBEDDING_MODEL_NAME="sentence-transformers/all-MiniLM-L6-v2"
FRONTEND_URL="http://localhost:5173"
